<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <script src="assets/js/jquery-2.2.0.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/angular.min.js"></script>
  <script src="assets/js/custom.js"></script>
</head>

<body>
  
  <!-- Script -->
  <div ng-app="demoFilter2" ng-controller="adminControl2">
    <div class="well">
      <input type="text" class="form-control" placeholder="Search by name..." ng-model="myFilter2.name">
      <br>
      <div class="panel-group">

        <div class="panel panel-default panel-facility" ng-repeat="group in sample_db" ng-show="filter1.length > 0">
          	<div class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
	            <div class="panel-body">
	              <div ng-repeat="i in filter1 = (group.contents | filter:myFilter2) ">
	                {{i.name}}
	              </div>
	            </div>
	          </div>

	          <div class="panel-heading heading" role="tab">
	            <h4 class="panel-title">
			          <a role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="true">
			            <label>{{group.title + ' (' + filter1.length + '/' + group.contents.length + ')'}}</label>
			          </a>
			        </h4>
	          </div>
        </div>
        <!-- panel -->
      </div>
        <!-- panel group -->
    </div>
  </div>
  

</body>

</html>